<h1>shorten Urls</h1>


<p>Please use http:// infront of your url!</p>
<% @urls.each do |url| %>

<p>
  <%= link_to url.random_id, url_path(id: url.random_id) %> => <%= url.original%>
</p>
<% end %>

<%= link_to "Shorten another Url", new_url_path  %>
